<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/display-method-test-style.css">
</head>
<body>
    <h2>디스플레이 방식 테스트(inline, inline-block, block)</h2>

    <div>
        Test <span class="intest">Test</span> <span class="intest">Test</span> Test
    </div>
    <div>
        Test <span class="inblock">Test</span> <span class="inblock">Test</span> Test
    </div>

    <div>
        Test <span class="b">Test</span> <span class="b">Test</span> Test
    </div>
</body>
</html>