<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        <fieldset>
            <legend>드롭 다운 메뉴 테스트</legend>
            <ul>
                <li>
                    <label for="subject">신청과목</label>
                    <select id="subject">
                        <option value="금융공학">Financial Engineering</option>
                        <option value="공기역학">Aerodynamics</option>
                        <option value="컴퓨터과학개론">Introduction the Computer Science</option>
                        <option value="전기전자개론">Introduction the Electronics</option>
                        <option value="자료구조">Data Structures</option>
                        <option value="객체지향설계">OOP Design</option>
                    </select>
                </li>
            </ul>
        </fieldset>
    </form>
</body>
</html>