<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        img {
            border: 1px solid #ccc;
        }
        figure {
            /* 두개가 적당히 합쳐짐 */
            display: inline-block;
            /* 지 혼자서 한 줄 전체를 차지함 */
            /* display: block; */
            /* 다른 녀석들과 혼성되어 나란히 배치됨 */
            /* display: inline */
        }
    </style>
</head>
<body>
    <h2>img 태그 테스트</h2>

    <figure>
        <img src="/img/marioworld.png">
        <img src="/img/marioworld.png" width="100" height="100">
        <img src="/img/link1.jpeg">
        <figcation>닌텐도 64 시절의 추억돋는 짤들 (슈퍼 마리오, 젤다의 전설: 시간의 오카리나)</figcation>
    </figure>
</body>
</html>