<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/checkbox-list.css">
</head>
<body>
    <h3>코스(다중 선택 불가능)</h3>

    <ul>
        <li>
            <!-- 주의: radio 버튼에서 단일 선택 기능은 name으로 같은 사항을 묶어놔야 동작 -->
            <input type="radio" name="subject" value="grammer">영문법
        </li>
        <li>
            <label><input type="radio" name="subject" value="math">수학</label>
        </li>
        <li>
            <label><input type="radio" name="subject" value="web">웹</label>
        </li>
        <li>
            <label><input type="radio" name="subject" value="embedded">임베디드</label>
        </li>
    </ul>
</body>
</html>