<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid #ccc;
        }
        td {
            padding: 5px;
        }
    </style>
</head>
<body>
    <!-- table: 표, tr: table row(행), td(열), th(열) 제목 및 헤더 역할 -->
    <table>
        <tr>
            <th>1 row 1 column</th>
            <td>1 row 2 column</td>
            <td>1 row 3 column</td>
        </tr>
        <tr>
            <th>test</th>
            <td>test</td>
            <td>test</td>
        </tr>
    </table>
</body>
</html>

<!-- 간단한 문제: 4 by 4 표에 1 ~ 16까지의 숫자를 넣어봅시다! -->