<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid #ccc;
        }
        td {
            padding: 5px;
        }
    </style>
</head>
<body>
    <!-- table: 표, tr: table row(행), td(열), th(열) 제목 및 헤더 역할 -->
    <table>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
        </tr>
        <tr>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
        </tr>
        <tr>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
        </tr>
        <tr>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
        </tr>
    </table>
</body>
</html>

<!-- 간단한 문제: 4 by 4 표에 1 ~ 16까지의 숫자를 넣어봅시다! -->