<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid #ccc;
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
    <table>
        <caption>
            <b>요즘 이력서 작성법</b>
            <p>좀 괜찬은 회사들은 포트폴리오 보고 생애, 학력 같은거 안보고 실력만 봅니다.</p>
        </caption>
        <tr>
            <th>어떻게 강조할까 ?</th>
            <td>쓰잘대기 없는 소설, 각종 개소리 전부 제거</td>
        </tr>
        <tr>
            <td colspan="2">
                내가 어떤 일들을 할 수 있는지, 어떤 기술을 가지고 있는지, 어떤 프로세스를 통해 일을 해봤는지 경험담이 중요함
            </td>
        </tr>
        <tr>
            <td colspan="2">이미 여러분들의 선배들이 저런식으로 이력서 쓰고 백전백패 경험함</td>
        </tr>
        <tr>
            <th>프로젝트가 제일 중요함</th>
            <td>없어도 어디 그지같은 회사는 갈 수 있음</td>
        </tr>
        <tr>
            <td colspan="2">대신 앞으로 남들과의 격차가 매우 커져서 평생 근처에도 못간다 보면됨</td>
        </tr>
        <tr>
            <td colspan="2">급하면 대충해서 SI로 가고 아니면 솔루션 회사로 가야함</td>
        </tr>
    </table>
</body>
</html>

<!-- /resume URL을 던져서 위의 형식으로 자신의 포트폴리오를 기록해보자!(미완성이어도 상관없음) -->